# Misc
.DS_Store
**/.DS_Store
.prettierignore

# Common VCS dirs
.git/
.bzr/
.bzrignore
.hg/
.hgignore
.svn/

# Common backup files
*.swp
*.bak
*.tmp
*.orig
*~

# Various IDEs
.project
.idea/
*.tmproj
.vscode/

# Helm
*.tgz
